* {
    box-sizing: border-box;
}

.container {
    background-color: #eea1a1;
    border-radius: 16px;
    height: 700px;
    margin: 10px auto auto;
    max-width: 390px;
    overflow: hidden;
    width: 100%;
}

.header {
    background-image: url(https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 140px;
    object-fit: cover;
    padding: 10px;
    width: 100%;
}

.header-box {
    grid-row-gap: 2px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 14px 54px;
    padding-inline: 10px;
    row-gap: 2px;
    width: 100%;
}

.proflie-back {
    align-items: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 34px;
    justify-content: center;
    width: 34px;
}

.proflie-name {
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
}

.proflie-location {
    color: #fff;
    font-size: 0.75rem;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
}

.search {
    padding: 0 10px;
        width: 100%;
    border: none;
    border-radius: 4px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    height: 32px;
    margin: auto;
}

.main {
    padding: 0 10px;
    width: 100%;
}

.user-list {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2);
    display: flex;
    flex-direction: column;
    height: 560px;
    margin: -20px auto auto;
    overflow: scroll;
    padding: 10px 20px;
    row-gap: 10px;
    width: 95%;
}

.user-list-box {
    grid-column-gap: 12px;
    -webkit-column-gap: 12px;
    column-gap: 12px;
    display: grid;
    grid-template-columns: 80px auto 1fr;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.user-name {
    color: #434343;
    font-size: 0.875rem;
    font-weight: 600;
}

.email {
    color: #878787;
    font-size: 0.75rem;
}

.image-avata {
    border-radius: 100%;
    display: flex;
    height: 80px;
    justify-content: center;
    overflow: hidden;
    width: 80px;
}

.contact{
    align-self: center;
    justify-self: end;
}